{% extends 'index.html' %}
{% block content1 %}
<div class="container" style="margin-top:100px;">
<form action="{% url 'midpro1' %}"  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
    <div class="input-group">
      <label aria-describedby="inputTitle" class="btn bg-dark text-white">Playlist Title</label>
      <input name="playtitle" type="text" class="form-control" id="inputTitle" placeholder="Enter playlist title" required>
    </div><br>
    <div class="input-group">
        <label aria-describedby="inputDesc" class="btn bg-dark text-white">Playlist Description</label>
        <input name="playdesc" type="text" class="form-control" id="inputDesc" placeholder="Enter playlist description" required>
      </div>
      <br>
    <button type="submit" class="btn btn-outline-dark" style="width: 100%;">Create Playlist</button>
  </form>
</div>
  {% endblock %}